root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true #remove espaços no final das linhas
insert_final_newline = true #Coloca uma linha no final do código
end_of_line = lf # Mate, padrão entre SO.
